In [2]:
import requests
import pandas as pd
import json
apikey = 'af4a7c461bcda111515e0ebeea5e4124fcc267d6'
#test change

In [3]:
#get=GEO_ID,NAME,EMP,NATION,PAYANN,STATE,YEAR
r = requests.get(f"https://api.census.gov/data/2018/abscs?get=GEO_ID,NAME,RACE_GROUP&for=state:*")
print(r)
r = r.json()

<Response [200]>

In [4]:
#p = pd.read_json(r)

r = json.dumps(r)

In [5]:
p = pd.read_json(r)

In [7]:
p.head(10)

             0            1           2      3
0       GEO_ID         NAME  RACE_GROUP  state
1  0400000US28  Mississippi          92     28
2  0400000US28  Mississippi          50     28
3  0400000US28  Mississippi          60     28
4  0400000US28  Mississippi          30     28
5  0400000US28  Mississippi          70     28
6  0400000US28  Mississippi          90     28
7  0400000US28  Mississippi          00     28
8  0400000US28  Mississippi          40     28
9  0400000US28  Mississippi          91     28